@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap");

.container-login {
  .container-things {
    padding: 30px;
    width: 31.25rem;
    min-height: 25rem;
    background: #f2feff;
    text-align: center;
    font-family: "Noto Sans", sans-serif;
    color: black;
    border-radius: 0.75rem;
    border: 0.375rem solid black;
    display: flex;
    height: auto;
    width: 31.25rem;
    min-height: 25rem;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    a {
      color: white;
      cursor: pointer;
      text-decoration: none;
      background: #6fd0d9;
      padding: 3.5px;
      border: 2px solid black;
      border-radius: 5px;
      border-radius: 3px black;
      text-shadow: black 1px 1px 3px;
      font-size: 0.95rem;
    }

    a:hover {
      cursor: pointer;
      text-decoration: none;
      transition: 0.3s;
      filter: brightness(80%);
    }

    h2 {
      margin-bottom: 1.5625rem;
      -webkit-text-stroke: 1px black;
      font-weight: bold;
    }

    p {
      font-weight: bold;
      color: black;
    }

    .input-container {
      gap: 0.75rem;
      align-items: center;
      vertical-align: middle;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      align-items: center;
      margin-bottom: 3.125rem;

      button {
        margin-top: 2.5rem;
      }
    }
  }
}
